body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Increased width */
    text-align: center;
}

#movieInput {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

#addMovieBtn {
    padding: 10px 20px;
    margin-bottom: 20px;
}

#movieList {
    list-style: none;
    padding: 0;
}

#movieList li {
    background-color: #e0e0e0;
    margin: 10px 0; /* Increased margin */
    padding: 10px;
    display: flex;
    justify-content: flex-start; /* Changed to flex-start */
    align-items: center;
    position: relative;
}

#movieList img {
    max-width: 100px; /* Increased max-width */
    max-height: 150px; /* Increased max-height */
    margin-right: 20px; /* Increased margin */
}

#movieList span {
    font-size: 18px; /* Increased font-size */
    flex: 1; /* Allow title to take remaining space */
    text-align: left; /* Align text to the left */
}

.removeBtn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
